body{
    position: relative;
    margin: 0px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}
.d-flex{
    margin:1% 5%;
}
.child{
    margin:auto 3%;
}
button{
    width: fit-content;
    font-size: 1vw;
    height: 3vw;
    text-align: center;
    border-radius: 2vw;
    background: transparent linear-gradient(102deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #E9584129;
    color: #FFFFFF;
    border: transparent;
}
p{
    padding: 4% 6% 6% 0% ;
    color: #333333;
    font-weight: 400;
    font-size: 1.3vw;
}
span{
    font-size: 1.4vw;
}
h1{
    text-align: left;
    font-weight: bold;
    color: #181818;
    font-size: 4vw;
}
hr{
    background: linear-gradient(90deg, #e4766f, #df3a50);
    opacity: 1;
}
.hello img{
    float: right;
    margin-top: -5%;
}
ul{
    margin: 4%;
    background: linear-gradient(90deg, #e4766f, #df3a50);
}
.box{
    width: 100%;          
    position: absolute;
    top: 0;
    left: 0; 
    padding: 2% 3%;
}
.hello{
    visibility:hidden;
    opacity:0;
    background: linear-gradient(90deg, #e4766f, #df3a50);
    text-align: center;
    color: #fcebec;
    font-size: 25px;
    padding: 7% ;
    z-index: 9;
    transition: all 0.3s linear;
}