body{
    position: relative;
    margin: 0px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-weight: 500;
    line-height: 1;
}
.d-flex{
    margin:1% 5%;
}
.child{
    margin:auto 3%;
}
button{
    width: fit-content;
    font-size: 1vw;
    height: auto;
    text-align: center;
    border-radius: 2vw;
    background: transparent linear-gradient(102deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #E9584129;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
    padding: 3% 7%;
}
p{
    padding: 4% 6% 6% 0% ;
    color: #333333;
    font-weight: 400;
    font-size: 1.3vw;
}
div.child span{
    font-size: 1.4vw;
}
h1{
    text-align: left;
    font-weight: bold;
    color: #181818;
    font-size: 4vw;
}
hr{
    background: linear-gradient(90deg, #e4766f, #df3a50);
    opacity: 1;
}
.hello img{
    float: right;
    margin-top: -5%;
}
ul{
    margin: 4%;
    background: linear-gradient(90deg, #e4766f, #df3a50);
}
.box{
    width: 100%;          
    position: absolute;
    top: 0;
    left: 0; 
    padding: 2% 3%;
}
.hello{
    visibility:hidden;
    opacity:0;
    background: linear-gradient(90deg, #e4766f, #df3a50);
    text-align: center;
    color: #fcebec;
    font-size: 25px;
    padding: 7% ;
    z-index: 9;
    transition: all 0.3s linear;
}
.design{
    margin-top: 10%;
    flex-wrap: nowrap;
    margin-right: -3%;
    overflow: hidden;
}
.design img{
    margin-right: -4%;
    overflow: hidden;
    width: 140%;
}
.designs{
    margin-top: 4%;
    flex-wrap: nowrap;
    margin-left: -3%;
    overflow: hidden;
}
.designs img{
    margin-left: -4%;
    overflow: hidden;
    width: 140%;
}
.design button,.designs button{
    margin: 2%;
    height: 4vw;
}
button.get{
    color: #E95841;
    background: #f9f9f9;
    font-weight: 500;
}
h6,.creation span{
    color: #E95841;
    font-weight: bold;
    text-align: left;
}
h1 span{
    font-weight: 300;
    font-size: unset;
}
.ui{
    margin:auto 3%;
}
.creation{
    margin: 7% auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.row::-webkit-scrollbar {
    display: none;
  }
.creation h6,.creation h1{
    text-align: center;
}
.row{
    margin: 4% auto; 
    overflow-x: auto;
}
.creation h3 b,.creation p{
    margin: 5%;
}
.creation p{
    font-size: 1vw;
    height: 10vw;
}
.flex-nowrap p{
    font-size: 0.9vw;
    height: 25vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sub{
    margin: 5% auto auto 4%;
}
.sub button{
    margin: 1.5%;
    height: 3.2vw;
    font-size: 0.81vw;
}
.creation .navbar-brand{
    text-align: center;
    margin-top: 6%;
}
div.rating{
    text-align: center;
    font-size: 3vw;
}
div.rating span{
    color: #E95841;
}